.cardCat {
    border:black solid 1.5px;
    margin: 50px auto 50px;
    float: left;
    padding: 0 1.7rem;
    width: 300px;
    
};
.cardProd{
    border:black solid 1.5px;
    margin: 50px auto 50px;
    float: left;
    padding: 0 1.7rem;
    width: 400px;
};