.navb {
    background-color: black;
}

.Nav { 
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center; }
.menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: #fff; }