.Nav {
    
    border-bottom: black solid 2px ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    text-align: center; }
.menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    text-shadow: 0 0 7px #fff,
   0 0 10px #610099,
   0 0 21px #610099,
   0 0 42px #610099,
   0 0 82px #610099,
   0 0 92px #610099,
   0 0 102px #610099,
   0 0 151px #610099;
    color: #000; }